* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  font-size: var(--font-size-base);
  font-weight: 500;
  
  
}
/* Header */
h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-base);
}
a {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
   color: var(--color-link); 
   text-decoration: none;
   font-weight: var(--font-weight-sm);
   line-height: 150%;
   letter-spacing: 0%;
   font-size: var(--font-size-base);
}

a:hover{
   
    color: var( --color-primary-hover);
}
a img {
  width: 2.5rem;
  height: 2.25rem;
}
li {
  text-decoration: none;
  list-style: none;
}
