.site-header {
    background-color: var(--color-background);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}

.nav-container {
    width: 95%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 1em ; 
}

.logo-container {
    display: flex;
    gap: 1em;
    align-items: center; 
}

.logo-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    color: var(--color-primary);
}

.logo-name h1 {
    font-weight: 900;
    line-height: 92%;
    letter-spacing: 0%;
    color: var(--color-primary);
    
}

.logo-name h2 {
    font-weight: var(--font-weight-xs);
    font-size: var( --font-size-base-sm);
    line-height: 92%;
    letter-spacing: 0%;
    color: var(--color-primary);
  
}

.nav-header {
    background-color: var(--color-background);
    position: absolute;
    top: 0;
    right: -30em;
    overflow: hidden;
    width: 50%;
    height: 200dvh;
    transition: all 1s ease-in-out;
}

.open-menu,
.close-menu {
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.nav-list {
    padding: 4em 0 4em 2em;
}

.nav-list li {
    padding: 0.5rem 0;
}

.login-container {
    display: flex;
    align-items: flex-start;
    gap: 2em;
    flex-direction: column;
    padding-left: 2em;

}

/* login section */
.login-container {
    display: flex;
    gap: 2em;
}
.login-button {
    font-weight: var(--font-weight-sm);
    font-size: var(--font-size-base);
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--color-primary-light);
    background-color: transparent;
    border: none;
    outline: none;
}
.login-container #get-started {
    
    padding: 1em 2em;
    border-radius: var( --radius-xs);
    font-weight: var(--font-weight-xs);
    font-size: var(--font-size-base-md);
    line-height: 150%;
    letter-spacing: 0%;
    border: none;
    outline: none;
    background-color: var(--color-primary-light);
    color: var(--color-background);
}
.login-button:hover {
    color: var(--color-primary-hover);
}

.login-container #get-started:hover {
    background-color: var(--color-primary-hover);
   
}

/* Hero section */
.hero-section {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom right, #25ee0a, #2E7D32, #007A44); 
    color: white;
    padding-top: 8em;
}

.hero-container {
    position: relative;
    width: 95%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em ;
    flex-wrap: wrap;
}
.hero-text h1, 
.hero-text p {
    text-align: center;
    white-space: normal;
}
.hero-text h1 {
    font-weight: var(--font-weight-md);
    font-size: 2.6rem;
    line-height: 115%;
    letter-spacing: 0%;
}
.hero-text p {
    margin-top: 1em;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    letter-spacing: 0%;
}
.hero-text .span {
    color: var(--colorlight-yellow);
}

/* image  */
.img-container {
    position: relative;
} 
.img-container .image {
    margin-top: 3rem;
    width: 100%;
}
.img-body {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 0.5em;
    border-radius: var(--radius-lg);
    background-color: var(--color-background);
    padding: 1em 0.5em;
    top: 0;
    left: 7em;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
   
}
.img-body h2 {
    font-weight: var(--font-weight-xs);
    font-size: var(--font-size-base);
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-primary);
}

.img-body h1 {
    font-weight: var(--font-weight-md);
    font-style: bold;
    font-size: var(--font-size-base);
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-dark);
}

.img-down-body {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 0.5em;
    border-radius: var(--radius-lg);
    background-color: var(--color-background);
    padding: 1em 0.5em;
    left: 0;
    margin-right:25rem;
    margin-bottom: 0.9rem;
    bottom: -1em;
}
.img-down-body h2 {
    font-weight: 400;
    font-size: var(--font-size-base);
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-dark);
}
.img-down-body h1 {
    font-weight: 700;
    font-style: bold;
    font-size: var(--font-size-base);
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-dark);
}