* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login__container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;

}
.login__left {
  width: 50%;
  height: 100vh;
  background: linear-gradient(
      155.16deg,
      rgba(2, 109, 20, 0.7),
      rgba(4, 62, 14, 0.7)
    ),
    url(./images/right-background-image.jpg);
  background-size: cover;
  background-position: 80% center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 2px 0 10px 1px #868686;
}
.gradient {
  height: 100vh;
  width: 100%;
}
.login__page-description {
  width: 470px;
  height: 240px;
  opacity: 1;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 35px;
  line-height: 170%;
  letter-spacing: 0%;
}
.login__page-description > h2 {
  color: #fff;
}
.login__page-description > h2 > span {
  color: rgb(248, 176, 21);
}
.login__right {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.login__form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  height: 70%;
  width: 80%;
  position: relative;
  top: -9rem;
  border: solid rgb(247, 245, 245) 0.5px;
  border-radius: 20px;
}
.login__form__container > h3 {
  font-family: "Inter";
  font-weight: 400;
  color: rgba(4, 62, 14, 1);
  font-size: 44px;
  line-height: 150%;
  letter-spacing: 0%;
}
.login__form__container > h3 > p {
  font-family: "Inter";
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.farmlink__logo {
  height: 18rem;
  position: relative;
  top: -1.5rem;
}
.login__pfp__container {
  width: 50%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 20rem;
}
.user__pfp {
  background-color: rgba(250, 249, 249, 1);
;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.input__container {
  position: relative;
  width: 70%;
}
.input__container > svg {
  position: absolute;
  top: 15px;
  left: 95%;
  transform: translate(-40%, -50%);
  z-index: 1;
}


.credential {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: solid #000 1px;
  font-size: 1rem;
}
.credential::placeholder {
  color: rgba(0, 0, 0, 1);
  font-size: 0.8rem;
}


.eye-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%);
  cursor: pointer;
}

.hidden {
  display: none;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 14px;
  width: 70%;
}

.remember_me__container label {
  margin-left: 5px;
}

.options a {
  color: rgba(70, 70, 70, 1);
  text-decoration: none;
}

button {
  width: 320px;
  height: 48px;
  opacity: 1;
  top: 716px;
  left: 917px;
  border-radius: 8px;
  border-width: 1px;
  padding: 12px;
  background-color: rgba(46, 125, 50, 1);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: rgb(33, 92, 36);
}

.login__right p:last-of-type {
  font-size: 15px;
  color: rgba(70, 70, 70, 1);
  text-align: center;
}

.login__right p:last-of-type a {
  color: #4caf50;
  font-weight: bold;
  text-decoration: none;
}
@media screen and (max-width: 900px) {
.login__container {
    flex-direction: column; 
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
  }
  .login__right {
    width: 100%;
    height: auto; 
    padding: 50px 20px;
    padding-top: 0;
  }



  .login__left {
    border-radius: 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20rem; 
  }
  .login__page-description > h2 {
    
    width: 90%;
    transform: none;
    text-align: center;
    margin: auto; 
    padding-top: 10px; 
  }


  .login__page__description h2 {
    text-align: center;
    font-size: 36px; 
  }

  .farmlink__logo {

    height: 15rem; 
  }


  .login__form__container {
    width: 90%;
    max-width: none; 
    padding: 0;
  }

  .login__form__container h3 {
    font-size: 30px;
  }

  
.credential, button {
    padding: 12px; 
  }
  .input__container {
  position: relative;
  width: 70%;
}
.input__container > svg {
  position: absolute;
  top: 50%;
  left: 95%;

}

}


@media screen and (max-width: 500px) {
  .login__left {
    display: flex;
    height: 12rem;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .login__page-description {
    margin-top: 6rem;
    align-items: center;
    justify-content: center;
  }
  .login__page-description h2 {
    font-size: 2rem;
    text-align: center;
    line-height: 150%; 
  }
  .login__form__container {
    top: -6rem;
  }

  
  .farmlink__logo {
    height: 10rem;
    top: -1.5rem;
    align-self: center;
    margin-left: 0;
  }
  .input__container {
  position: relative;
  width: 70%;
}
.input__container > svg {
  position: absolute;
  top: 50%;
  left: 95%;
  z-index: 1;
}



}
