/* Register */
.Register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2em 0;
    gap: 1em;

}

.Register-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size: var( --font-size-base-md);
    padding: 1.5em 1em;
    border-radius: var(--radius-xs);
    border: none;
    outline: none;
}

.first-button {
    background-color: var(--colorlight-yellow);
    transition: all 0.2s ease-in-out;
}
.first-button:hover {
    background-color: var(--colorlight-yellow-dark);
    color: var(--color-background);
}

.first-button img {
    filter: none;
    transition: filter 0.2s ease-in-out;
}
.first-button img:hover {
    filter: brightness(0) invert(1);
}
/* second-button */

.second-button {
    background-color: var(--white);
    color: var(--color-primary);
    transition: all 0.5s ease-in-out;
}

.second-button:hover {
    background-color: rgba(200, 243, 200, 0.808);
    color: var(--color-background);
}

.second-button img {
    filter: none;
    transition: filter 0.5s ease-in-out;
}
.second-button img:hover {
    filter: brightness(0) invert(1);
}


@media(min-width: 50em) {
    .Register {
        justify-content: flex-start;
        flex-direction: row;
    }
}