<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buyer save items | FarmLink</title>
    <link rel="stylesheet" href="../css/main.css" />
  </head>
  <body>
    <header class="site-header">
      <div class="container nav-container">
        <!-- Logo -->
        <div class="logo-container">
          <a href="index.html" class="logo">
            <img src="../assets/farmlink 1.png" alt="My Logo" />
          </a>
          <span class="logo-name">
            <h1>FarmLink</h1>
            <h2>Nigeria</h2>
          </span>
        </div>

        <div>
          <img
            class="open-menu"
            src="../assets/open-menu.png"
            alt="open-menu"
          />
        </div>

        <!-- Navigation links -->
        <div class="nav-header">
          <div>
            <img
              class="close-menu"
              src="../assets/close-menu.png"
              alt="close-menu"
            />
          </div>
          <nav class="nav">
            <ul class="nav-list">
              <li>
                <img src="../assets/home.png" alt="home icon" />
                <a href="index.html" class="nav-link active">Home</a>
              </li>
              <li>
                <img src="../assets/listing.png" alt="My listing icon" />
                <a href="marketplace.html" class="nav-link">My Listings</a>
              </li>
              <li>
                <img src="../assets/insight.png" alt="insights icon" />
                <a href="workflow.html" class="nav-link">Insights</a>
              </li>
              <li>
                <img src="../assets/Notification.png" alt="notification icon" />
                <a href="about.html" class="nav-link">Notifications</a>
              </li>
              <li>
                <img
                  class="farmers_profile"
                  src="../assets/farmers_profile.png"
                  alt=""
                />
                <a href="about.html" class="nav-link">Profile</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <main>
      <div class="dashboard">
        <!-- User detailed profile -->
        <div class="dashboard__profile">
          <div class="Users_profile">
            <img src="../assets/farmers_profile.png" alt="farmers_profile" />
          </div>
          <section>
            <p>
              Adewale Uche! 
              <img class="verified" src="../assets/verified-user.png" alt="Verified">
            </p>
            <span class="order-status buyer--badge">Buyer</span>
            
            <div class="users__verified">
              <img src="../assets/bag-2.png" alt="bag-2" />
              <p>Retailer</p>
            </div>
            <div class="users__location">
              <img src="../assets/location.png" alt="location" />
              <p>Edo, Nigeria</p>
            </div>
          </section>
        </div>
      </div>

      <!-- order-history -->
      <div class="order-history">
        <!-- Save product -->
        <section class="product" aria-labelledby="product-details"></section>

        <!-- account-overview -->
        <aside class="account-overview">
          <h2>Account Overview</h2>
          <div class="account-card">
            <img src="../assets/bag.png" alt="bag-icon" />
            <div>
              <h4 class="account-card__title">Total Orders</h4>
              <p class="account-card__value">47</p>
              <p class="account-card__note">Last order: Oct 28, 2024</p>
            </div>
          </div>

          <div class="account-card">
            <img src="../assets/heart.png" alt="" />
            <div>
              <h4 class="account-card__title">Saved Items</h4>
              <p class="account-card__value">12</p>
              <p class="account-card__note">3 back in stock</p>
            </div>
          </div>

          <div class="account-card">
            <img src="../assets/scale.png" alt="scale-icon" />
            <div>
              <h4 class="account-card__title">Total Spent</h4>
              <p class="account-card__value">₦18.5M</p>
              <p class="account-card__note">This year</p>
            </div>
          </div>

          <div class="account-card">
            <img src="../assets/box.png" alt="red-box-icon" />
            <div>
              <h4 class="account-card__title">Pending Orders</h4>
              <p class="account-card__value">2</p>
              <p class="account-card__note">Awaiting delivery</p>
            </div>
          </div>
        </aside>
      </div>
    </main>

    <script type="module" src="../Js/saveItems.js"></script>
    <script src="../Js/nav.js"></script>
  </body>
</html>
